@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  width: 320px;
}
.title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.description {
  text-transform: uppercase;
  margin: 0;
}
.button {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 49px;
  background-color: #81b3d2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: inline-block;
  border: none;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav__link {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 12px;
  width: 100%;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(1, 1, 1, 0.2);
  text-align: center;
}
.intro__header {
  background-image: url("../../img/intro-triangle.png"), url("../../img/background-intro.jpg");
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position-x: center, center;
  background-position-y: bottom, center;
  min-height: 389px;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 16px;
  margin-bottom: 32px;
  text-align: center;
}
.intro__title {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
}
.intro__description {
  margin: 0;
  text-align: center;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages__item {
  padding: 33px 18px;
}
.advantages__item--triangle {
  padding-top: 51px;
  background-image: url("../../img/triangle-advantage.png");
  background-repeat: no-repeat;
  background-position-x: center;
}
.advantages__item--background-blue {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}
.advantages__item--background-gray {
  background-color: #eeeeee;
  text-align: center;
}
.title--white {
  color: #ffffff;
}
.advantages__item--image {
  padding: 0;
}
.advantages__item--image img {
  display: block;
}
.booking__wrapper {
  padding-top: 35px;
  text-align: center;
}
.booking__title {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
}
.booking__description {
  margin-bottom: 32px;
}
.booking__link {
  margin-bottom: 49px;
}
.main-footer {
  padding-top: 33px;
  padding-bottom: 33px;
}
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.catalog-intro__wrapper {
  text-align: center;
  box-sizing: border-box;
}
.catalog-intro__image {
  background-image: url("../../img/intro-triangle.png"), url("../../img/background-intro.jpg");
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position-x: center, center;
  background-position-y: bottom, bottom;
  min-height: 158px;
  margin-bottom: 57px;
  padding-top: 52px;
  box-sizing: border-box;
}
.catalog-intro__title {
  font-size: 21px;
  margin-bottom: 20px;
}
.catalog-photos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-photos__title {
  font-size: 14px;
  line-height: 21px;
}
.catalog-photos__item {
  padding: 24px 20px;
  box-sizing: border-box;
}
.catalog-photos__link {
  margin-bottom: 15px;
  display: inline-block;
}
.catalog-photos__author {
  margin: 0;
  margin-bottom: 11px;
}
.catalog-photos__like {
  font-weight: 700;
  color: #000000;
}
.catalog-video__wrapper {
  padding-top: 17px;
  text-align: center;
}
.catalog-video__title {
  margin-bottom: 20px;
}
.catalog-video__description {
  margin-bottom: 38px;
}
.form-intro__wrapper {
  padding-bottom: 28px;
  text-align: center;
}
.form-intro__title {
  margin-bottom: 24px;
}
.form__group {
  border: none;
  padding: 24px 20px;
  margin: 0;
}
.group-name__subtitle,
.group-contacts__subtitle {
  text-transform: uppercase;
}
.group-impression__subtitle,
.group-attractions__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.form__tag {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */
