.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  padding: 33px 18px;
}

.advantages__item--triangle {
  padding-top: 51px;
  background-image: url("../../img/triangle-advantage.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages__item--background-blue {
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.advantages__item--background-gray {
  background-color: #eeeeee;
  text-align: center;
}

.title--white {
  color: #ffffff;
}

.advantages__item--image {
  padding: 0;
}

.advantages__item--image img {
  display: block;
}
