.advantages__wrapper {
  padding-top: 32px;
  background-color: @white;
}

.advantages__list {
  .list-reset();
  position: relative;

  &::before {
    content: " ";
    background-image: url("../../img/triangle-advantage.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: @blue;
    height: 37px;
    width: 100%;
    position: absolute;

    @media (min-width: @w-tablet) {
      display: none;
    }
  }

  @media (min-width: @w-tablet) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: @w-desktop) {
    grid-template-columns: 400px 400px 400px;
  }
}

@media (min-width: @w-tablet) {
  .advantages__item:first-child {
    grid-column: 1/4;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item:nth-child(2) {
    grid-column: 1/4;
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages__item {
    min-height: 256px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: @w-tablet) {
    font-size: 21px;
    line-height: 26px;
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.advantages__description {
  margin: 0;
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: @w-tablet) {
    margin-bottom: 55px;
  }
}

.advantage__title {
  margin-bottom: 11px;

  @media (max-width: @w-mobile) {
    & br {
      display: none;
    }
  }

  @media (min-width: @w-tablet) {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 26px;
  }
}

.advantage__number {
  margin-bottom: 17px;
  display: inline-block;

  @media (min-width: @w-tablet) {
    margin-bottom: 32px;
  }
}


.advantages__town-list {
  .list-reset();
  background-color: @white;
  padding: 23px 18px 46px 65px;
  position: relative;

  @media (min-width: @w-tablet) {
    display: flex;
    padding: 0;
  }
}

.advantage__town-title {
  margin-bottom: 16px;

  @media (min-width: @w-tablet) {
    margin-bottom: 32px;
  }
}

.advantages__town-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &--home::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../../img/house-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    top: -8px;
    left: -47px;
  }

  &--food::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../../img/burger-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    top: -8px;
    left: -47px;
  }

  &--gift::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../../img/gift-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    top: -8px;
    left: -47px;
  }

  @media (min-width: @w-tablet) {
    width: 256px;
    min-height: 331px;
    text-align: center;
    box-sizing: border-box;
    padding: 156px 33px 0;
    margin: 0;
  }

  @media (min-width: @w-desktop) {
    width: 400px;
    padding: 169px 50px 0;
  }
}

.advantage__town-description {
  color: @dr-gray;
}

.advantages__item--triangle {
  padding-top: 33px;
}

.advantage__blue-content {
  background-color: @blue;
  color: @white;
  text-align: center;
  padding: 37px 18px;

  @media (min-width: @w-tablet) {
    width: 256px;
    min-height: 256px;
    box-sizing: border-box;
    padding: 52px 33px 0;
  }

  @media (min-width: @w-desktop) {
    .advantage__blue-content {
      width: 400px;
    }
  }
}

.advantages__item--background-gray {
  background-color: @gray;
  text-align: center;
  padding: 24px 26px;
  position: relative;

  &:not(:last-child)::before {
    content: " ";
    position: absolute;
    width: 284px;
    height: 1px;
    background-color: #d6d6d6;
    bottom: 0;
    left: 18px;

    @media (min-width: @w-tablet) {
      display: none;
    }
  }

  @media (min-width: @w-tablet) {
    padding: 41px 33px 0;
  }
}

.title--white {
  color: @white;
}

.advantages__item--image {
  padding: 0;
}

.advantages__item--background-blue img {
  display: block;
}
