.booking__wrapper {
  padding-top: 35px;
  text-align: center;
}

.booking__title {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
}

.booking__description {
  margin-bottom: 32px;
}

.booking__link {
  margin-bottom: 49px;
}
