@import "../base/variables.less";

.button {
  font-family: "PT Sans", sans-serif;
  color: @white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 49px;
  background-color: @blue;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: inline-block;
  border: none;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-down;
    color: fade(@white, 30%);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
