@import "../base/variables.less";

.catalog-intro {
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @w-tablet) {
    min-height: 290px;
  }
}

.catalog-intro__image {
  background-image: url("../../img/intro-triangle.png"), url("../../img/background-intro.jpg");
  background-color: @gray;
  background-repeat: no-repeat;
  background-position-x: center, center;
  background-position-y: bottom, bottom;
  min-height: 158px;
  padding-top: 52px;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/intro-triangle-mobile@2x.png"), url("../../img/background-intro-mobile@x2.jpg");
    background-position-x: center, center;
    background-position-y: bottom, bottom;
    background-size: 100%;
  }

  @media (min-width: @w-tablet) {
    background-image: url("../../img/intro-triangle-tablet@1x.png"), url("../../img/background-intro-tablet@x1.jpg");
    background-position-x: center, center;
    background-position-y: bottom, bottom;
    padding-top: 77px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangle-tablet@2x.png"), url("../../img/background-intro-tablet@x2.jpg");
      background-position-x: center, center;
      background-position-y: bottom, bottom;
      background-size: 100%;
    }
  }

  @media (min-width: @w-desktop) {
    background-image: url("../../img/intro-triangle-desktop@1x.png"), url("../../img/background-intro-desktop@x1.jpg");
    background-position-x: center, center;
    background-position-y: bottom, center;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/intro-triangle-desktop@2x.png"), url("../../img/background-intro-desktop@x2.jpg");
      background-position-x: center, center;
      background-position-y: bottom, center;
      background-size: 100%;
    }
  }
}

.catalog-intro__img {
  padding: 0;

  @media (min-width: @w-tablet) {
    padding-bottom: 130px;
  }
}
