@import "../base/variables.less";

.catalog-intro {
  text-align: center;
  box-sizing: border-box;

  @media (min-width: 768px) {
    min-height: 290px;
  }
}

.catalog-intro__image {
  background-image: url("../../img/intro-triangle.png"), url("../../img/background-intro.jpg");
  background-color: @gray;
  background-repeat: no-repeat;
  background-position-x: center, center;
  background-position-y: bottom, bottom;
  min-height: 158px;
  padding-top: 52px;
  box-sizing: border-box;
}

