@import "../base/mixin.less";
@import "../base/variables.less";

.catalog-photos__wrapper {
  padding-top: 37px;
  background-color: @white;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @w-tablet) {
    padding-top: 66px;
  }

  @media (min-width: @w-desktop) {
    padding-top: 100px;
  }
}

.catalog-intro__title {
  font-size: 21px;
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: @w-tablet) {
    .title-tablet();
    margin-bottom: 40px;
  }
}

.catalog-intro__description {
  text-align: center;
  padding: 0 20px;

  @media (min-width: @w-tablet) {
    padding: 0 161px;
    margin-bottom: 67px;
    font-size: 21px;
    line-height: 26px;
  }
}

.catalog-photos__list {
  .list-reset();

  @media (min-width: @w-tablet) {
    display: grid;
    grid-template-columns: 324px 324px;
    width: 648px;
  }

  @media (min-width: @w-desktop) {
    grid-template-columns: 400px 400px 400px;
    width: 1200px;
  }
}

.catalog-photos__title {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 10px;

  @media (min-width: @w-desktop) {
    color: @white;
  }
}

.catalog-photos__item {
  padding: 24px 20px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @w-tablet) {
    padding: 0;
  }
}

.catalog-photos__item:first-child {
  @media (min-width: @w-tablet) {
    grid-column: 1/3;
  }

  @media (min-width: @w-desktop) {
    grid-column: 1/4;
  }
}

.catalog-photos__link {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.catalog-photos__content {
  padding-top: 15px;

  @media (min-width: @w-tablet) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 0;
    background-color: @catalog-gray;
    align-items: center;
  }

  @media (min-width: @w-desktop) {
    background-color: fade(#000000, 30%);
    position: absolute;
    width: 100%;
    bottom: 0;
    color: @white;
    box-sizing: border-box;
  }
}

.catalog-photos__content--dark-gray {
  @media (min-width: @w-tablet) {
    background-color: @catalog-dr-gray;
  }

  @media (min-width: @w-desktop) {
    background-color: fade(#000000, 30%);
    position: absolute;
    width: 100%;
    bottom: 0;
    color: @white;
  }
}

.catalog-photos__author {
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: @w-tablet) {
    margin-bottom: 15px;
  }
}

.catalog-photos__like {
  font-weight: 700;
  color: #000000;
  position: relative;
  padding-left: 37px;

  @media (min-width: @w-desktop) {
    color: @white;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 23px;
    height: 21px;
    mask-image: url("../../img/stack.svg#like");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: fade(#000000, 30%);
    top: -5px;
    left: 0;

    @media (min-width: @w-desktop) {
      background-color: @white;
    }
  }
}

.catalog-photos__img {
  display: block;
}
