.catalog-photos__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-photos__title {
  font-size: 14px;
  line-height: 21px;
}

.catalog-photos__item {
  padding: 24px 20px;
  box-sizing: border-box;
}

.catalog-photos__link {
  margin-bottom: 15px;
  display: inline-block;
}

.catalog-photos__author {
  margin: 0;
  margin-bottom: 11px;
}

.catalog-photos__like {
  font-weight: 700;
  color: #000000;
}
