@import "../base/variables.less";

.intro {
  background-image: url("../../img/intro-triangle.png"), url("../../img/background-intro.jpg");
  background-color: @gray;
  background-repeat: no-repeat;
  background-position-x: center, center;
  background-position-y: bottom, center;
  min-height: 389px;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 16px;
  text-align: center;
}
