@import "../base/variables.less";

.main-header {
  min-height: 56px;
  box-sizing: border-box;
  position: relative;
  background-color: @white;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

.main-nav__wrapper {
  display: none;

  @media (min-width: @w-tablet) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: @w-tablet) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @w-tablet) {
    display: flex;
  }
}

.main-nav__link {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 12px;
  width: 100%;
  background-color: @blue;
  color: @white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 1px rgba(1, 1, 1, 0.2);
  text-align: center;

  @media (min-width: @w-tablet) {
    width: 153px;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    box-shadow: none;
    min-height: 56px;
  }

  @media (min-width: @w-desktop) {
    width: 240px;
  }
}
